.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 42px;
  font-weight: 700;
  color: #1d70ee;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.nav span {
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s, transform 0.2s;
}

.nav span:hover {
  color: #03cbf8;
  transform: translateY(-2px);
}

/* 찜 버튼 */
.favorites-btn {
  position: relative; /* 배지 위치 기준 */
  display: inline-block;
}

.favorites-btn:hover {
  color: #03cbf8;
  transform: translateY(-2px);
}

/* 배지 */
.favorites-btn .badge {
  position: absolute;
  top: -6px;
  right: -12px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 700;
  z-index: 10;
}
